@tailwind base;
@tailwind components;
@tailwind utilities;

/* Esto asegura que la aplicación ocupe absolutamente toda la pantalla sin restricciones */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f8fafc; /* Fondo general slate-50 */
}
